<%= turbo_frame_tag 'jobs-form' do %>
  <div class="flex flex-1 justify-center py-5">
    <div class="layout-content-container flex flex-col max-w-[40vw] flex-1 border border-[#019863] rounded-xl shadow justify-center">
      <div class="flex flex-wrap justify-center gap-3 p-4 mt-5">
        <% editing_mode = controller.action_name.in?(['edit', 'update']) ? true : false  %>
        <% if editing_mode %>
          <p class="text-[#1C160C] tracking-light text-[28px] font-bold leading-tight">Editing</p>
        <% else %>
          <p class="text-[#1C160C] tracking-light text-[22px] font-bold leading-tight min-w-72">
            <span id='cover-letters-count'><%= CoverLetterCount&.first&.count || 0 %></span> Cover Letters Generated! 🎉
          </p>
        <% end %>
      </div>
      <div class="flex flex-wrap justify-center gap-4 px-4 py-3">
        <%= simple_form_for(@job, html:{ class: "w-full", multipart: true }) do |f| %>
          <%= f.input :title, label: false, input_html: { class: "form-input w-full flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl \
                                                                text-[#1C160C] focus:outline-0 focus:ring-0 border border-[#E9DFCE] bg-[#FFFFFF] \
                                                                focus:border-[#019863] placeholder:text-[#A18249] p-[15px] text-base font-normal \
                                                                leading-normal",
                                                          readonly: editing_mode,
                                                          placeholder: 'Job Title' },
                                              wrapper_html: { class: "my-5 mx-5" } %>
          <div class="my-5">
            <%= f.input :company, label: false, input_html: { class: "form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl \
                                                                    text-[#1C160C] focus:outline-0 focus:ring-0 border border-[#E9DFCE] bg-[#FFFFFF] \
                                                                    focus:border-[#019863] placeholder:text-[#A18249] p-[15px] text-base font-normal \
                                                                    leading-normal",
                                                             readonly: editing_mode,
                                                             placeholder: 'Company Name' },
                                              wrapper_html: { class: "my-5 mx-5" } %>
          </div>
          <div class="my-5">
            <%= f.input :location, label: false, input_html: { class: "form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl \
                                                                     text-[#1C160C] focus:outline-0 focus:ring-0 border border-[#E9DFCE] bg-[#FFFFFF] \
                                                                     focus:border-[#019863] placeholder:text-[#A18249] p-[15px] text-base font-normal \
                                                                     leading-normal",
                                                             readonly: editing_mode,
                                                             placeholder: 'Location' },
                                               wrapper_html: { class: "my-5 mx-5" } %>
          </div>
          <div class="my-5">
            <%= f.input :description, as: :text, label: false, input_html: { class: "form-input flex w-full min-w-0 flex-1 overflow-hidden rounded-xl \
                                                                        text-[#1C160C] focus:outline-0 focus:ring-0 border border-[#E9DFCE] bg-[#FFFFFF] \
                                                                        focus:border-[#019863] placeholder:text-[#A18249] p-[15px] text-base font-normal \
                                                                        leading-normal",
                                                              placeholder: 'Job Description', rows: 4},
                                                wrapper_html: { class: "my-5 mx-5" } %>
          </div>
          <%= f.fields_for :resume do |r|%>
            <div class="flex px-4 py-3 justify-center" data-controller='file-upload'>
              <%= r.file_field :file, class: 'hidden', id: "resume-file-upload",
                                 data: { file_upload_target: "fileInput",
                                         action: "change->file-upload#updateLabel",
                                        } %>
              <label for="resume-file-upload" class="flex min-w-[84px] cursor-pointer items-center justify-center overflow-hidden \
                                                   rounded-full h-12 hover:border hover:border-[#019863] hover:scale-[1.0125] px-4 flex-1 bg-[#F4EFE6] \ 
                                                   gap-2 pl-4 text-sm font-bold leading-normal tracking-[0.015em] \
                                                   <%=f.object.errors['resume'].present? ? 'text-red-500' : 'text-[#1C160C]' %>"
                                         >
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                  <path d="M240,136v64a16,16,0,0,1-16,16H32a16,16,0,0,1-16-16V136a16,16,0,0,1,16-16H80a8,8,0,0,1,0,16H32v64H224V136H176a8,8,0,0,1,0-16h48A16,
                       16,0,0,1,240,136ZM85.66,77.66,120,43.31V128a8,8,0,0,0,16,0V43.31l34.34,34.35a8,8,0,0,0,11.32-11.32l-48-48a8,8,0,0,0-11.32,0l-48,
                       48A8,8,0,0,0,85.66,77.66ZM200,168a12,12,0,1,0-12,12A12,12,0,0,0,200,168Z"></path>
                </svg>
                <span data-file-upload-target="fileLabel">Upload Resume</span>
              </label>
            </div>
            <% if f.object.errors['resume'].present? || f.object.errors['resume.file'].present? %>
              <div class="flex flex-col justify-start">
                <% (f.object.errors['resume'] + f.object.errors['resume.file']).each do |resume_error| %>
                  <div>
                    <p class="text-red-500 text-xs italic ml-7">
                      <%= 'Resume ' + resume_error %>
                    </p>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <div class="flex px-4 py-3 justify-center">
            <%= f.submit "#{editing_mode ? 'Create New Cover Letter' : 'Generate Cover Letter' }", class: "flex min-w-[84px] cursor-pointer items-center \
            justify-center overflow-hidden rounded-full h-12 px-5 flex-1 \
            bg-[#019863] text-[#FFFFFF] text-base font-bold leading-normal \
            tracking-[0.015em] hover:scale-[1.0125]",
            data: { turbo_submits_with: 'Loading...' } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>