<div class="p-4" data-controller="reveal" data-reveal-hidden-class="hidden">
  <div class="flex items-stretch justify-between gap-4 rounded-xl bg-[#FFFFFF] \
            hover:bg-[#e0e0e0] cursor-pointer p-4 shadow border border-[#019863]">
    <div class="flex flex-col gap-4 w-full">
      <%= link_to 'javascript:void(0)', type: 'button', title: 'Click to Expand',
                                        data: { action: "reveal#toggle", turbo_frame: false } do %>
        <div class="flex flex-row justify-between" data-controller="applied">
          <div class="flex flex-col gap-1">
            <p class="text-[#1C160C] text-base font-bold leading-tight <%= job.applied ? 'line-through' : '' %>"
               data-applied-target='jobTitle'>
              <%= job.full_title %>
            </p>
            <p class="text-[#A18249] text-sm font-normal leading-normal"><%= job.location %></p>
          </div>
          <div class="flex">
            <%= simple_form_for job, html: { class: 'flex gap-1 items-center',
                                             data: { turbo_target: :patch, applied_target: "form" } } do |f| %>
              <%= f.label 'Applied?' %>
              <%= f.input :applied, as: :boolean, label: false,
                                    input_html: { data: { applied_target: "checkbox",
                                                          action: "change->applied#submitForm" } },
                                    wrapper_html: { class: 'flex-row items-center h-full !mb-0' } %>
            <% end %>
            <%= image_tag "arrow-down.svg", title: 'Click to Expand', size: '15' %>
          </div>
        </div>
      <% end %>
      <div data-reveal-target="item" class="hidden flex flex-row justify-between z-100">
        <%= link_to job_path(job), data: { turbo_frame: 'turbo-modal' }, type: 'button',
                                     class: "flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden \
                                             rounded-full h-10 px-4 flex-row-reverse bg-[#F4EFE6] text-[#1C160C] pr-2 gap-1 text-sm \
                                             font-medium leading-normal w-fit" do %>
          <div class="text-[#1C160C]" data-icon="CaretRight" data-size="18px" data-weight="regular">
            <%= image_tag "arrow-right.svg", size: '15' %>
          </div>
          <span class="truncate">Display Cover Letters</span>
        <% end %>
        <%= link_to edit_job_path(job), data: { turbo_frame: '_top' }, 
                                   class: "flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden \
                                            rounded-full h-10 px-4 bg-[#019863] text-[#FFFFFF] text-sm font-bold leading-normal \
                                            tracking-[0.015em]" do %>
          <span class="truncate">Create Additional Cover Letter</span>
        <% end %>
      </div>
    </div>
  </div>
</div>