<header id="navbar" class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#019863] px-10 py-3">
  <%= link_to root_path do %>
    <div class="flex items-center gap-4 text-[#1C160C]">
      <div class="size-4">
        <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 42.4379C4 42.4379 14.0962 36.0744 24 41.1692C35.0664 46.8624 44 42.2078 44 42.2078L44 7.01134C44 7.01134
                   35.068 11.6577 24.0031 5.96913C14.0971 0.876274 4 7.27094 4 7.27094L4 42.4379Z"
              fill="currentColor"></path>
        </svg>
      </div>
      <h2 class="text-[#1C160C] text-lg font-bold leading-tight tracking-[-0.015em]">CoverLetterAI</h2>
    </div>
  <% end %>
  <div class="flex flex-1 justify-end gap-8">
    <% if user_signed_in? %>
      <%= link_to subscriptions_path do %>
        <div class="bg-[#F4EFE6] p-3 rounded-xl">
          <p class="text-sm">Credits: <span class="font-bold text-[#019863af]"><%= current_user.credits_count %></span></p>
        </div>
      <% end %>
    <% end %>
    <% if current_user.present? %>
      <div class="flex items-center gap-9">
        <%= link_to 'Your Jobs', jobs_path, class: 'text-[#1C160C] text-sm font-medium leading-normal' %>
        <%= link_to 'Subscription', subscriptions_path, class: 'text-[#1C160C] text-sm font-medium leading-normal' %>
      </div>
    <% end %>
    <% if current_user.present? %>
      <div class="flex gap-2">
        <%= link_to destroy_user_session_path, class: "flex max-w-[480px] cursor-pointer items-center justify-center \
                                                      overflow-hidden rounded-full h-10 bg-[#F4EFE6] text-[#1C160C] \
                                                      gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5",
                                              data: { turbo_method: :delete, turbo_confirm: 'Logout?' } do %>
          <div class="text-[#1C160C]" data-icon="SignOut" data-size="20px" data-weight="regular">
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
              <path d="M112,216a8,8,0,0,1-8,8H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32h56a8,8,0,0,1,0,16H48V208h56A8,8,0,0,1,112,
                    216Zm109.66-93.66-40-40a8,8,0,0,0-11.32,11.32L196.69,120H104a8,8,0,0,0,0,16h92.69l-26.35,26.34a8,8,0,0,0,11.32
                    ,11.32l40-40A8,8,0,0,0,221.66,122.34Z">
              </path>
            </svg>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="flex gap-2">
        <%= link_to new_user_registration_path, class: "flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center \
                                                 overflow-hidden rounded-full h-10 px-4 bg-[#019863] text-[#f8fbfa] hover:scale-[1.05] text-sm \
                                                 font-bold leading-normal tracking-[0.015em]" do %>
          Register
        <% end %>
        <%= link_to new_user_session_path, class: "flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center \
                                                 overflow-hidden rounded-full h-10 px-4 bg-[#f8fbfa] text-[#019863] hover:scale-[1.05] text-sm \
                                                 font-bold leading-normal tracking-[0.015em] border border-[#019863]" do %>
          Login
        <% end %>
      </div>
    <% end %>
  </div>
</header>