<div class="p-4 flex justify-center min-h-screen">
  <div class="flex min-w-[40vw] max-w-1/2 items-stretch justify-between gap-4 h-[50vh] mt-10
              rounded-xl bg-[#FFFFFF] p-4 shadow border border-[#019863]">
    <div class="flex flex-col gap-4 w-full">
      <div class="p-4 flex flex-col items-center justify-center gap-3">
        <p class='text-xl'>👋 Hey, <%= current_user.email %>!</p>
        <p class="text-lg">You have <span class="font-bold text-[#019863af]"><%= current_user.credit_count %></span> credits left</p>
      </div>
      <div class="flex flex-row justify-center gap-5">
        <% STRIPE_PLANS.each do |key, plan| %>
          <div class="p-6 border rounded-lg hover:scale-[1.025] flex flex-col \
                      justify-center items-center min-h-1/2 <%= plan[:most_popular] ? 'bg-gray-200 border-[#019863]' : '' %>">
            <p class="text-gray-600 text-3xl font-bold">$<%= plan[:price] / 100.0 %></p>
            <p>Per Month</p>
            <h3 class="mt-2"><%= plan[:name] %></h3>
            <h3 class="font-semibold mt-2"><%= plan[:description] %></h3>
            <%= button_to "Subscribe", checkout_index_path(plan: key),
                class: "mt-4 px-4 py-2 bg-[#019863] text-white rounded hover:scale-[1.025]",
                data: { turbo: false } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>