<div class="p-4 flex justify-center">
  <div class="flex flex-col w-full md:max-w-[40vw] items-stretch gap-4 mt-10 rounded-xl \
            bg-[#FFFFFF] p-4 shadow border border-[#019863] mx-auto">
    <div class="flex flex-col flex-grow gap-4 w-full pb-3">
      <!-- User Info Section -->
      <div class="p-4 flex flex-col items-center justify-center gap-3 text-center">
        <p class='text-xl'>👋 Hey, <%= current_user.email %>!</p>
        <% if current_user.subscribed? %>
          <div class="flex flex-col sm:flex-row gap-2 items-center">
            <p class="text-lg">You are currently subscribed to the
              <span class="font-bold text-[#019863af]"><%= current_user.subscription.plan_name %></span> plan!
            </p>
            <%= button_to 'Cancel', 
                cancel_subscription_checkout_index_path, 
                method: :delete,
                class: 'text-red-500 border border-red-500 px-2 py-1 rounded-full text-sm',
                form_class: 'inline-form',
                data: { turbo_confirm: 'Are you sure you want to cancel your subscription?' } %>
          </div>
        <% else %>
          <p class="text-lg">You have <span class="font-bold text-[#019863af]"><%= current_user.credits_count %></span> credits left</p>
        <% end %>
        <% if current_user.subscription.present? %>
          <p class="text-lg">Status: 
            <span class="font-bold <%= current_user&.subscribed? ? 'text-[#019863af]' : 'text-red-300' %>">
              <%= current_user&.subscription.status_name %>
            </span>
          </p>
        <% end %>
      </div>
      <!-- Subscription Plans Section -->
      <div class="flex flex-col sm:flex-row justify-center gap-5">
        <% STRIPE_PLANS.each do |key, plan| %>
          <div class="p-6 border rounded-lg hover:scale-[1.025] flex flex-col \
                      justify-center items-center w-full sm:w-auto <%= plan[:most_popular] ? 'bg-gray-200 border-[#019863]' : '' %>">
            <p class="text-gray-600 text-3xl font-bold">$<%= plan[:price] / 100.0 %></p>
            <p>Per Month</p>
            <h3 class="mt-2 text-center"><%= plan[:name] %></h3>
            <h3 class="font-semibold mt-2 text-center"><%= plan[:description] %></h3>
            <%= button_to "Subscribe", checkout_index_path(plan: key), id: key,
                class: "mt-4 px-4 py-2 bg-[#019863] text-white rounded hover:scale-[1.025] w-full sm:w-auto",
                data: { turbo: false } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>