<div class="w-full h-full max-w-xs mx-auto my-20 flex items-center justify-center">
  <div class="flex h-full flex-col items-center">
    <%= render 'devise/shared/signin_with_google_button' %>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),
                                  data: { turbo_frame: '_top' },
                                  html: { class: 'bg-white shadow-md rounded px-8 mt-3 pt-6 pb-8 mb-4 \
                                                  border border-[#019863] rounded-xl shadow'}) do |f| %>
      <div class="flex justify-center mb-4">
        <p class="text-[#1C160C] tracking-light text-[28px] font-bold leading-tight">Login</p>
      </div>
      <div class="mb-4">
        <%= f.input :email, label: false, autofocus: true, autocomplete: "email",
                            class: "form-input w-full flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl \
                                    text-[#1C160C] focus:outline-0 focus:ring-0 border border-[#E9DFCE] bg-[#FFFFFF] \
                                    focus:border-[#019863] placeholder:text-[#A18249] p-[15px] text-base font-normal \
                                    leading-normal",
                            input_html: { placeholder: 'Email' } %>
      </div>
      <div class="mb-4">
        <%= f.input :password, label: false, autocomplete: "current-password",
                                class: "form-input w-full flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl \
                                        text-[#1C160C] focus:outline-0 focus:ring-0 border border-[#E9DFCE] bg-[#FFFFFF] \
                                        focus:border-[#019863] placeholder:text-[#A18249] p-[15px] text-base font-normal \
                                        leading-normal",
                                input_html: { placeholder: 'Password' } %>
      </div>
      <div class="flex flex-col items-center justify-between content-end">
        <%= f.submit "Login", class: "flex min-w-full cursor-pointer items-center justify-center \
                                     overflow-hidden rounded-lg h-10 px-4 bg-[#019863] text-[#FFFFFF] hover:scale-[1.05] text-sm \
                                     font-bold leading-normal tracking-[0.015em] my-4" %>
        <div class="flex flex-col items-center mt-2 gap-1">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  <% end %>
</div>