<div class="w-full max-w-xs mx-auto flex items-center justify-center">
  <div class="flex flex-col items-center">
    <div class="mb-8">
      <%#= render 'shared/logo_and_name' %>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),
                                  data: { turbo_frame: '_top' },
                                  html: { class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4'}) do |f| %>
      <h2 class="text-center">Log in</h2>
      <div class="mb-4">
        <%= f.input :email, label: false, autofocus: true, autocomplete: "email",
                            class: "form-input w-full flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl \
                                    text-[#1C160C] focus:outline-0 focus:ring-0 border border-[#E9DFCE] bg-[#FFFFFF] \
                                    focus:border-[#019863] placeholder:text-[#A18249] p-[15px] text-base font-normal \
                                    leading-normal" %>
      </div>
      <div class="mb-4">
        <%= f.input :password, label: false, autocomplete: "current-password",
                                class: "form-input w-full flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl \
                                        text-[#1C160C] focus:outline-0 focus:ring-0 border border-[#E9DFCE] bg-[#FFFFFF] \
                                        focus:border-[#019863] placeholder:text-[#A18249] p-[15px] text-base font-normal \
                                        leading-normal" %>
      </div>
      <div class="flex items-center justify-between content-end">
        <%= f.submit "Login", class: "flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center \
                                     overflow-hidden rounded-full h-10 px-4 bg-[#136835] text-[#f8fbfa] hover:scale-[1.05] text-sm \
                                     font-bold leading-normal tracking-[0.015em]" %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>
</div>
