<!DOCTYPE html>
<html>
  <head>
    <title><%= @title.present? ? @title + ' | ' : '' %> <%= APP_INFO[:app_name] %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= render 'shared/g_analytics' if Rails.env.production? %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="<%= asset_path('favicon/favicon-96x96.png') %>" type="image/png">
    <link rel="icon" href="<%= asset_path('favicon/favicon.svg') %>" type="image/svg+xml">
    <link rel="apple-touch-icon" href="<%= asset_path('favicon/apple-touch-icon.png') %>">
    <%= render 'shared/og_tags' %>
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="flex flex-col min-h-screen">
    <%= turbo_stream_from 'ai_response' %>
    <%= turbo_frame_tag "turbo-modal" %>
    <%= turbo_stream_from 'credits' %>
    <%= turbo_stream_from 'cover-letters-count' %>
    <%= render "shared/flash" %>
    <%= render 'shared/navbar' %>
    <main class="flex-grow">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
